[user]
	name = Gianluca Giurlando
	email = 88482805+gianlucagiurlando@users.noreply.github.com
[http]
	sslVerify = true
[core]
	excludesfile = ~/.gitignore_global
[include]
	path = ~/.gitconfig.local
